name: Automa칞칚o CVM Di치ria

on:
  schedule:
    - cron: '0 12 * * *'  
  workflow_dispatch:

jobs:
  run-cvm-automation:
    runs-on: ubuntu-latest

    steps:
      - name: 游댃 Checkout do c칩digo
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: 丘뙖잺 Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 游닍 Instalar depend칡ncias
        run: |
          pip install -r requirements.txt

      - name: 游늭 Listar arquivos no diret칩rio
        run: |
          ls -R

      - name: 游 Executar script de automa칞칚o CVM
        run: |
          python automacao.py

      - name: 游 Commit arquivo CSV de controle
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add deb_processadas.csv || echo "Nada para adicionar"
          git commit -m "Atualiza deb_processadas.csv autom치tico via GitHub Actions" || echo "Nada para commit"
          git push
